<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>My page</title>
<style>
.shipping_text h3 {
	margin-bottom: 7px;
	font-size: 23px;
	line-height: 18px;
}
</style>
	<script>
	document.addEventListener('DOMContentLoaded', function () {
		
		console.log('???');
	})
	</script>
</head>
<body>
	<article layout:fragment="content">
		<!--shop  area start-->
		<br> <br> <br> <br>
		<div class="shop_section shop_reverse">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-12">
						<!--sidebar widget start-->
						<aside class="sidebar_widget">
							<div class="widget_inner">
								<div class="widget_list widget_categories">
									<ul>
										<li class="widget_sub_categories">
										<a href="javascript:void(0)" data-toggle="collapse"
											data-target="#men">내 정보</a></li>
										<hr>
										<li class="widget_sub_categories">
										<a href="javascript:void(0)" data-toggle="collapse"
											data-target="#women">내 반려동물 정보</a></li>
										<hr>
										<li class="widget_sub_categories">
										<a href="javascript:void(0)" data-toggle="collapse"
											data-target="#footwear">내 활동</a>
											<ul class="widget_dropdown_categories collapse show"
												id="footwear">
												<li><a href="#">작성 글 보기</a></li>
												<li><a href="#">작성 댓글 보기</a></li>
											</ul></li>
										<hr>
										<li class="widget_sub_categories">
										<a href="javascript:void(0)" data-toggle="collapse"
											data-target="#accessories">내 스크랩</a>
											<ul class="widget_dropdown_categories collapse show"
												id="accessories">
												<li><a href="#">병원</a></li>
												<li><a href="#">장례</a></li>
												<li><a href="#">숙박</a></li>
												<li><a href="#">커뮤니티</a></li>
											</ul></li>
										<hr>
										<li class="widget_sub_categories">
										<a href="javascript:void(0)" data-toggle="collapse"
											data-target="#footwear">내 쇼핑</a>
											<ul class="widget_dropdown_categories collapse show"
												id="footwear">
												<li><a href="#">주문내역</a></li>
												<li><a href="#">교환 및 반품</a></li>
											</ul></li>
										<hr>
										<li class="widget_sub_categories">
										<a href="javascript:void(0)" data-toggle="collapse"
											data-target="#footwear">내 클래스</a>
											<ul class="widget_dropdown_categories collapse show"
												id="footwear">
												<li><a href="#">수강내역</a></li>
												<li><a href="#">위시리스트</a></li>
											</ul></li>
										<hr>
										<li class="widget_sub_categories">
										<a href="javascript:void(0)" data-toggle="collapse"
											data-target="#women">일정관리</a></li>
									</ul>
								</div>
							</div>
						</aside>
						<!--sidebar widget end-->
					</div>


					<div class="col-lg-9 col-md-12">
						<!--shop wrapper start-->
						<!-- Content wrapper -->
						<div class="content-wrapper">
							<!-- Content -->
							<div class="container-xxl flex-grow-1 container-p-y">
								<div class="shipping_text">
									<h3>내 정보보기</h3>
								</div>
								<br>
								<div class="row">
									<div class="col-md-12">
										<div class="card mb-4">
											<h5 class="card-header">Profile Details</h5>
											<!-- Account -->
											<div class="card-body">
												<div
													class="d-flex align-items-start align-items-sm-center gap-4">
													<img src="../assets/img/avatars/1.png" alt="user-avatar"
														class="d-block rounded" height="100" width="100"
														id="uploadedAvatar" />
												</div>
											</div>
											<hr class="my-0" />

											<div class="card-body" th:each="user : ${users}">
												<form id="formAccountSettings" method="POST"
													onsubmit="return false">
													<div class="row">
														<div class="mb-3 col-md-6">
															<label for="id" class="form-label">아이디 ID</label>
															<input class="form-control" type="text" id="id" name="id"
																th:value="${user.id}" disabled="disabled" />
														</div>
														<div class="mb-3 col-md-6">
															<label for="nickname" class="form-label">닉네임 Nickname</label>
															<input class="form-control" type="text"
																id="nickname" name="nickname"
																th:value="${user.nickname}" disabled="disabled" />
														</div>
														<div class="mb-3 col-md-6">
															<label for="name" class="form-label">이름 Name</label>
															<input class="form-control" type="text" id="name" name="name"
																th:value="${user.name}" disabled="disabled" />
														</div>
														<div class="mb-3 col-md-6">
															<label for="email" class="form-label">이메일 E-mail</label>
															<input class="form-control" type="text" id="email"
																name="email" th:value="${user.email}"
																disabled="disabled" />
														</div>
														<div class="mb-3 col-md-6">
															<label class="form-label" for="call">전화번호 Phone Number</label>
															<div class="input-group input-group-merge">
																<input type="text" id="call" name="call"
																	class="form-control" th:value="${user.call}"
																	disabled="disabled" />
															</div>
														</div>
														<div class="mb-3 col-md-6">
															<label for="address" class="form-label">주소 Address</label>
															<input type="text" class="form-control"
																id="address" name="address" disabled="disabled"
																th:value="${user.address}" />
														</div>
													</div>
													<div class="mt-2" style="text-align: center;">
														<button type="button" class="btn btn-primary me-2"
															onclick="location.href='usersUpdateForm'">프로필 수정</button>
													</div>
												</form>
											</div>
											<!-- /Account -->
										</div>
										<div class="card">
											<h5 class="card-header">Delete Account</h5>
											<div class="card-body">
												<div class="mb-3 col-12 mb-0">
													<div class="alert alert-warning">
														<h6 class="alert-heading fw-bold mb-1">Are you sure
															you want to delete your account?</h6>
														<p class="mb-0">Once you delete your account, there is
															no going back. Please be certain.</p>
													</div>
												</div>
												<form id="formAccountDeactivation" onsubmit="return false">
													<div class="form-check mb-3">
														<input class="form-check-input" type="checkbox"
															name="accountActivation" id="accountActivation" /> <label
															class="form-check-label" for="accountActivation">
															I confirm my account deactivation </label>
													</div>
													<button type="submit"
														class="btn btn-danger deactivate-account">계정 비활성화</button>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- / Content -->

							<div class="content-backdrop fade"></div>
						</div>
						<!-- Content wrapper -->


						<!--shop wrapper end-->
					</div>
				</div>
			</div>
		</div>
		<!--shop  area end-->
	</article>
</body>
</html>